@import "../components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('http://joannepoblete.com/lib/fonts/bootstrap/glyphicons.eot');	/* IE9 Compat Modes */
  src: url('http://joannepoblete.com/lib/fonts/bootstrap/glyphicons.eot?#iefix') format('embedded-opentype'),	/* IE6-IE8 */
       url('http://joannepoblete.com/lib/fonts/bootstrap/glyphicons.woff2') format('woff2'),	/* Super Modern Browsers */
       url('http://joannepoblete.com/lib/fonts/bootstrap/glyphicons.woff') format('woff'),	/* Pretty Modern Browsers */
       url('http://joannepoblete.com/lib/fonts/bootstrap/glyphicons.ttf')  format('truetype'),	/* Safari, Android, iOS */
       url('http://joannepoblete.com/lib/fonts/bootstrap/glyphicons.svg#HarabaraHand') format('svg');	/* Legacy iOS */
}
@font-face {
  font-family: 'HarabaraHand';
  src: url('http://joannepoblete.com/lib/fonts/harabarahand/HarabaraHand-webfont.eot');	/* IE9 Compat Modes */
  src: url('http://joannepoblete.com/lib/fonts/harabarahand/HarabaraHand-webfont.eot?#iefix') format('embedded-opentype'),	/* IE6-IE8 */
       url('http://joannepoblete.com/lib/fonts/harabarahand/HarabaraHand-webfont.woff') format('woff'),	/* Pretty Modern Browsers */
       url('http://joannepoblete.com/lib/fonts/harabarahand/HarabaraHand-webfont.ttf')  format('truetype'),	/* Safari, Android, iOS */
       url('http://joannepoblete.com/lib/fonts/harabarahand/HarabaraHand-webfont.svg#HarabaraHand') format('svg');	/* Legacy iOS */
}
@font-face {
  font-family: 'Scriptina';
  src: url('http://joannepoblete.com/lib/fonts/scriptina/scriptina-webfont.eot');	/* IE9 Compat Modes */
  src: url('http://joannepoblete.com/lib/fonts/scriptina/scriptina-webfont.eot?#iefix') format('embedded-opentype'),	/* IE6-IE8 */
       url('http://joannepoblete.com/lib/fonts/scriptina/scriptina-webfont.woff') format('woff'),	/* Pretty Modern Browsers */
       url('http://joannepoblete.com/lib/fonts/scriptina/scriptina-webfont.ttf')  format('truetype'),	/* Safari, Android, iOS */
       url('http://joannepoblete.com/lib/fonts/scriptina/scriptina-webfont.svg#scriptina') format('svg');	/* Legacy iOS */
}

$color-link-dark-bg			:	#FFECB3;
$color-link-hover-dark-bg	:	#FFE082;
$color-link-focus-dark-bg	:	#FFD54F;
$color-white				:	#fff;
$font-hand					:	'HarabaraHand', 'Comic Sans MS', cursive, sans-serif;
$font-sansserif				:	Tahoma, Geneva, sans-serif;
$font-script				:	'Scriptina', cursive, sans-serif;
$font-serif 				:	'Palatino Linotype', 'Book Antiqua', Palatino, serif;
$size-font-small			:	0.85em;

body {
	background-color: #ff334d;
	bottom: 0;
	color: rgba(255,255,255,0.5);
	line-height: 1.3;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
footer {
	//background-color: $color-white;
	bottom: -1rem;
	font-family: $font-hand;
	font-size: $size-font-small;
	height: 0;
	left: 0;
	position: absolute;
	right: 0;
	transition: all 1s ease;
	text-align: right;

	img {
		float: left;
		height: 24px;
		margin-bottom: 0.5em;
	}
	p {
		margin: 0;
		//margin-right: 3em;
	}
}
#intro {
	font-size: 1.5em;
	padding-top: 20%;
	text-align: center;

	h1, 
	h2 {
		margin: 0;
	}
	h1 {
		color: rgba(255,255,255,0.9);
		font-family: $font-script;
		font-size: 3em;
		margin-bottom: 0.2em;

		&:first-of-type {
			margin-right: 2em;
		}
		&:nth-of-type(2) {
			margin-left: 1em;
			margin-top: -0.8em;
		}
	}
	h2 {
		font-size: 1em;
		padding-top: 1em;
	}
}

/* Text */
a {
	&:hover {
		text-decoration: none;
	}

	footer & {
		color: $color-link-dark-bg;

		&:hover {
			color: $color-link-hover-dark-bg;
		}
		&:focus {
			color: $color-link-focus-dark-bg;
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	#intro {
		font-size: 3em;
	}
}